{% extends 'base.html' %} 
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/about.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}<title>About</title>{% endblock %}

{% block sidebar %}

{% endblock %}

<!-- Right Side -->
{% block content %}
<section id="side-section">
    <ul style="list-style-type: none;">
        <li class="side-item" id="intro-link">Introduction</li>
        <li class="side-item" id="ps-link">Personal Statement</li>
        <li class="side-item" id="bg-link">Background</li>
    </ul>
</section>

<section class="content-container" id="introduction">
    <h3>Introduction</h3>
        <p>
            I’m a software developer based in the Salt Lake City valley area. I currently work at Huntsman Cancer Institute
            in the Clinical Trials Office as their Activation Administrator. My work in this role has involved developing a database
            and system to track, and distribute, information about study opportunities and statuses to our teams. I am also developing tools
            for communication with companies to minimize redundancy of work. Additionally, I interface with pharmaceutical representatives
            answering questions about our research facilities and capabilities. I have a B.S. and M.S. (Psychology, and Experimental
            Psychology respectively) and am working on my B.S. in Software Development which I expect to complete before the end of 2022.
            <br>
            <br>
            When I’m not writing code, or thinking about writing code, you might find me spending quality time with my wife and two dogs
            (Carter & Odin) or playing board games with friends or family. 
        </p> 
</section>

<section class="content-container" id="personal-statement">
    <h3>Personal Statement</h3>
        <p>
            I am currently looking for a full-time developer role that will allow me to spend more significant amounts of time writing code
            and increasing my skills as a software engineer. I currently work independently but would love to work with a small team in the
            future. In terms of tools, I’m language and technology agnostic. I’m most experienced with the technologies that I have listed as
            used most often (see <b><a href="/resume">resume</a></b> section). However, I very much enjoy learning new things and thinking about different ways of solving
            problems. An appropriate tool for the use case is more aligned with my philosophy.   
            <br>
            <br>
            At work, and let’s be honest at home too, I’m a problem solver down to my core. I love the challenge of seeing a question or problem
            and coming up with a creative and efficient solution to answer the question or overcome the obstacle. I learn new skills quickly and
            independently without much trouble. Interpersonally, I get a lot of gratification from being able to help my colleagues when I can.
            When it comes to technology and development, I frequently put extra time during my free hours in to learn new things just because I enjoy
            understanding and growing my skills.  
            <br>
            <br>
            I believe I would be an excellent addition to any development team in terms of productivity, especially given a couple of weeks to polish
            my execution and get the feel for the workflow. I think that how fast I pick up a role and become valuable would probably exceed expectations.
            My current bosses would likely attest to that. My best personality fit would be with a team or group of equally passionate, friendly, and curious people.
        </p>
</section>

<section class="content-container" id="background">
    <h3>Background</h3>
        <p>
            Not everyone needs the background, so feel free to skip, but if you are here for the long story read on friends! My first experience with coding was around 2011,
            in college. It started with a book bought from Barnes and Noble called C++ in 48 hours, or 24 hours maybe, something like that. At the time I had very little career
            knowledge about the technology industry, so I didn’t realize that writing code and creating solutions was something that someone might really do for a living. I
            was in college so I knew people were majoring in it, but it didn’t occur to me what they might do after in practice. I was from rural Louisiana and had only just
            gotten my first computer maybe a year earlier. But I was curious as always and decided to give it a look. I dabbled with the language for a while but only for
            the sake of exploration. Without much direction for how I might use this skill in my other endeavors. As I moved along in my traditional studies, gradually the time
            I spent on this hobby dwindled.
            <br>
            <br>
            Some lingering interest however remained. During my research activity, in my undergraduate and graduate studies, my time spent getting familiar with coding made me appreciate
            the usefullness of technology when working with and even collecting our research data. However, my exploration did not deepen further at the time because my path seemed marked out. 
            My goal during college was to become a PhD level clinical psychologist. However, after working in the mental health field for a time attempting to prepare for this next
            step, I found that this wasn’t the correct route for me. My more curious and problem-solving nature became burned out and under stimulated in a clinical environment.
            <br>
            <br> 
            I preferred the research process, the questions, the data, and the technology more than anything that I found in the clinical space. In 2019 I went
            back to the research field, where I also began pursing coding and technology more steadily. I started with Python, something
            that had heavy applications in data science (something more familiar to me) and slowly branched out into the web technologies (JS, HTML, CSS, Django) over time.
            I’ve been working on a second bachelor's degree in Software Development (which I’m finishing up before the end of the year), the curriculum requires a language focus of Java
            and includes some C++ and Python experience. 
            <br>
            <br>
            My current full-time job was a newly created position. Because of this, I’ve gotten the opportunity to outline the role and responsibilities myself. 
            As part of this position, I’ve developed a database that the team currently uses to track and distribute early startup information with front end views for our users.
            Microsoft access is used as the database platform but depending on my tenure and the capabilities of my replacement we may be migrating over to PostgreSQL. 
            Currently, I’m working on a multifaceted startup data management system and web based interface that utilizes PostgreSQL, JS, HTML, CSS, and Django. 
            I hope to roll out sample sections of the interface on my <b><a href="/projects">projects</a></b> page soon.
        </p>           
</section>

{% endblock %}

{% block scripts %}<script src="{% static 'scripts/about.js' %}"></script>{% endblock %}