{% extends 'base.html' %} 
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/about.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}<title>About</title>{% endblock %}

{% block content %}

<section class="content-container">
    <h3>Introduction</h3>
    <p>I’m a software developer based in the Salt Lake City area expecting to finish my B.S. in Software Development before December 2022.
        I have a previous B.S. and M.S. (Psychology, and Experimental Psychology respectively) and currently work at Huntsman Cancer Institute. 
        My work here has involved developing a database and system to track, and distribute to our teams, information about study opportunities 
        from pharmaceutical companies from the point of outreach through the initial startup steps. I also develop tools for communication with 
        companies to minimize redundancy of work and help to interface with pharmaceutical representatives answering questions about our research 
        facilities and capabilities.
    </p>    
</section>

<section class="content-container">
    <h3>Personal Statement</h3>
    <p>
        As a developer I’d say I’m language and technology agnostic. I’m familiar with the technologies that I use but enjoy learning 
        new things and different ways of solving problems. My working traits are that I’m a creative problem solver, that learns new 
        skills quickly, and gets joy from helping my co-workers. I have an appreciation for formal education but am perfectly capable 
        self-teaching as well. I love building things and solving problems. When it comes to technology and development I frequently 
        put extra time in to learn new things simply because I enjoy it.   
    </p>    
</section>

<section class="content-container">
    <h3>History</h3>
    <p>
        My first experience dabbling with coding (C++ first, later visual basic, and later still with the statistics focused language R) was around 2011.
        My exploration was inspired by the work in research that I was doing during my undergraduate and later graduate studies where the need for technology 
       to work with and even collect our research data was evident My exploration did not deepen further than that however as my plan was to enter academia 
       as a PhD level clinical psychologist. After working in the mental health field from attempting to prepare for this next step, I found that this wasn’t
        the correct plan for me as I much preferred the research process, the data, the statistics, and the technology than anything that I found in the clinical space.
        I pivoted back to the research field where I also began pursing coding and technology more steadily. This was 2019, I started with Python, something that had heavy 
       applications in data science and slowly branched out into the web technologies (JS, HTML, CSS) over time. I’ve also been working on a second bachelor's degree this
        time in Software Development, the curriculum of which requires a language focus of Java, but does have Python, C++, and the web triplet in the curriculum. My current
        full time job has allowed me to produce projects (or rather one large interrelated project) that utilize Postgresql, JS, HTML, CSS, Django and Python and React 
        (see <b><a href="/projects">projects</a></b> section).
    </p>    
</section>

{% endblock %}

{% block scripts %}<script src="{% static 'scripts/about.js' %}"></script>{% endblock %}