
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/base_nav.css' %}">
    {% block styles %}{% endblock %}
    {% block title %}<title>Base HTML</title>{% endblock %}
</head>
<body>
    <div class="background-container">
        <div class="background" id="black"></div>
        <div class="background" id="green"></div>
        <div class="background" id="gray"></div>
    </div>

    <nav id="main-nav">
<!-- Flipping Corner Logo -->
        <div class="flip-logo">
            <div class="flip-logo-inner">
                <div class="flip-logo-back">
                <svg id="code-logo" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
                    <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
                </svg>
                </div>
                <div class="flip-logo-front">
                    <h2 id="initials">EL</h2>
                </div>
            </div>
        </div>
<!-- Nav Bar Section -->
    <svg 
        viewBox="0 0 50 40" 
        height="50px"
        role="presentation" 
        focusable="false" 
        aria-label="HB Button"
        id="nav-hb"
        >
        <line x1="5%" x2="95%" y1="20%" y2="20%" style="stroke: #ffff;"/>
        <line x1="5%" x2="95%" y1="50%" y2="50%" style="stroke: #ffff;"/>
        <line x1="5%" x2="95%" y1="80%" y2="80%" style="stroke: #ffff;"/>
    </svg>
        <ul id="ul-nav">
            <li class="nav-li"><a href="/about" class="nav-a">About</a></li>
            <li class="nav-li"><a href="/projects" class="nav-a">Projects</a></li>
            <li class="nav-li"><a href='/resume' class="nav-a">Resume</a></li>
            <div id="right-nav-div">
                <li id="contact-li" class="nav-li"><a href="/contact" class="nav-a">Contact</a></li>
            </div>
        </ul>
    </nav>
<!-- page wrapper is new -->
    <div id="page-wrapper">
    <!-- --------------------SIDEBAR SECTION---------------------------- -->
        {% block sidebar %}{% endblock %}
    <!-- --------------------MAIN CONTENT SECTION---------------------------- -->
        <div id="body-container">
            <div id="main-section">
                {% block content %}<h1 id="title-tag">Base Page</h1>{% endblock %}
            </div>
        </div>
    </div>


    {% block scripts %}{% endblock %}
</body>
</html>