<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Base HTML</title>{% endblock %}
</head>
<body>
    {% block nav %}
    <nav id="main-nav">
        <ul>
            <li><a href="/base">Base Page</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    {% endblock %}
    {% block content %}<h1 id="title-tag">Base Page</h1>{% endblock %}
</body>
</html>