{% extends 'base.html' %} 
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'styles/projects.css' %}">{% endblock %}
{% block title %}<title>Projects</title>{% endblock %}

<!-- body-container -->

    <!-- main-section -->
        {% block content %}
    
        <div class="section-container">
            <h1 id="title-tag">Portfolio Website</h1>
            <h3>Description:</h3>
            <p>This website is a hub for my resume, demonstrations or overviews of my projects, and a bit more about me personally and professionally.</p>
            
            <h3>Tech Stack:</h3>
            <p>JavaScript, HTML/CSS & Django/python <b>*for deployment:</b> Ubuntu, Nginx, and Uvicorn</p>
            
            <h3>Lessons:</h3>
            <p>The most important takeaway experience from this project was deploying the site to a no-frills server. This site is run on a  virtual Ubuntu machine and I completed the deployment myself rather than using an "out-of-the-box" platform. I very much enjoyed the experience of troubleshooting and researching what would be needed to complete this task.</p>
            <p>For this project, I chose not to use front-end frameworks such as Bootstrap. This allowed me to practice developing a responsive website from the ground up. I chose to use Django's MVC architecture which allowed me to get some experience with that framework (and possibly expand the site at a later time).</p>   
        </div>

        <div class="section-container">
            <h1 id="title-tag">Degree Planning Application</h1>
            <h3> Overview </h3>
        </div>

        <div class="section-container">
            <h1 id="title-tag">Appointment Scheduling Desktop Application</h1>
            <h3> Overview </h3>
        </div>

        
        <div class="section-container">
            <h1 id="title-tag">In Process: HCI Project</h1>
            <ol id="section-4-list">
                <li>HCI Activation Database Restructuring</li>
                <li>Public Facing Submission Portal</li>
                <li>Public Facing Project Insights</li>
                <li>Internal Facing Project Insights</li>              
            </ol>
        </div>

        {% endblock %}

{% block scripts %}<script src="{% static 'scripts/projects.js' %}"></script>{% endblock %}