{% extends 'base.html' %} 
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'styles/projects.css' %}">{% endblock %}
{% block title %}<title>Projects</title>{% endblock %}

<!-- body-container -->

    <!-- main-section -->
        {% block content %}
    
        <div id="section-container-1">
            <h1 id="title-tag">Projects Page</h1>
            <h3> Welcome! This content is coming soon.</h3>
            <p>
                I'm currently in the process of rolling out features of the larger project I'm working on. I hope to go live with one stand-alone
                feature every two weeks or so, check back soon.
            </p>
        </div>

        {% endblock %}