{% extends 'base.html' %} 
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'styles/projects.css' %}">{% endblock %}
{% block title %}<title>Projects</title>{% endblock %}

<!-- body-container -->

    <!-- main-section -->
        {% block content %}
    
        <div id="section-container-1">
            <h1 id="title-tag">Projects Page</h1>
            <h3> Welcome! This content is coming soon.</h3>
            <p id="flow-chart-caption">
                Below is a diagram of our activation tracking system.
            </p>
            <div id="chart-wrapper">
                <img id="flow-chart" src="{% static 'assets/Activation DB Diagram.png' %}" alt="flow chart diagram for activation tracking system">
            </div>
        </div>

        {% endblock %}

{% block scripts %}<script src="{% static 'scripts/projects.js' %}"></script>{% endblock %}