{% extends 'base.html' %} 
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'styles/resume.css' %}">{% endblock %}
{% block title %}<title>Resume</title>{% endblock %}

{% block content %}

<!-- Top Section -->
<div id="page-header">
    <h1 id="title-tag">Resume</h1>
    <div id="download-btn">
        <a href='{% static "assets/Resume (18APR2022).docx" %}' id="download-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg> 
        </a>
    </div>
</div>
<!-- CONTACT -->
<section class="resume-section">
    <h3>Personal Details</h3>
    <p>Emerson Lebleu</p>
    <p>Midvale Utah</p>
    <p>emerson.lebleu@gmail.com</p>
    <p>801-845-6662</p>
</section>

<!-- Technologies -->
<section class="resume-section">
    <h3>Technologies</h3>
    <div id="tech-container">
        <div id="web-tripple">
            <p>HTML</p>
            <p>CSS</p>
            <p>JS</p>
        </div>

        <div>
            <p>Python</p>
            <p>Django</p>        
        </div>

        <div>
            <p>SQL</p>
            <p>Postgres</p>
        </div>
    </div>
</section>

<!-- Work Experience -->
<section class="resume-section">
    <h3>Work Experience</h3>
    <h4>Activation Administrator</h4>
    <div>
        <i>Huntsman Cancer Institute, Clinical Trials Office (CTO)</i>
        <b><div class="work-ex-date">July 2020 - Present</div></b>
    </div>
    
    <p class="work-ex-description">
        In this newly created role I was tasked with creating a robust tracking system and centralizing our Clinical Trials Office (CTO)'s 
        activation and feasibility responsibilities. Day to day responsibilities include answering sponsor questions related to site 
        capabilities/activation/feasibility, conducting pre-study visits with sponsors, facilitating physician interest for incoming study 
        solicitations, maintaining the status of all trials in activation, participating in leadership discussions regarding the development of 
        future tools for our study activation and feasibility steps, as well as spearheading those projects that come from these discussions. 
        I have been able to develop a database system that allowed me to keep track of all trials in activation (200+ trials). 
        I further developed these tools to disseminate the information to program managers and other staff in real time to facilitate efficient 
        communication between staff who have hands in activation. I am now working on further projects to create a more efficient activation 
        process in our CTO.
    </p>

    <h4>Startup Regulatory Coordinator</h4>
    <div>
        <i>Huntsman Cancer Institute, Clinical Trials Office (CTO)</i>
        <b><div class="work-ex-date">Jan 2019 - Jul 2020</div></b>
    </div>
        
        <p class="work-ex-description">
            Responsibilities here included, managing the regulatory progress of the trial through various committees and reviews during study startup. 
            This job required collaboration and communication with sponsors, IRB coordinators, program managers, Investigators, and other members of the 
            CTO team.
        </p>
    </p>

</section>

<!-- Education -->
<section class="resume-section">
    <h3>Education</h3>
    <p><b>B.S., Software Development:</b> Western Governors University <b>(exp Dec 2022)</b></p>
    <p><b>M.S., Experimental Psychology:</b> University of Louisiana at Lafayette <b>(2015)</b></p>
    <p><b>H.B.S., Psychology:</b> University of Louisiana at Lafayette <b>(2013)</b></p>
</section>

<!-- Older work experience -->
<section class="resume-section">
<h3>Older Experience</h3>
<p><b>Youth Mentor:</b><i> Sage Residential Treatment Center </i><b>(2015 - Jan 2019)</b></p>
<p><b>Research Assistant:</b><i> Louisiana Contextual Science Research Group </i><b>(2012 - 2015)</b></p>  
<p><b>Teaching Assistant:</b><i> University of Louisiana at Lafayette </i><b>(2013 - 2015)</b></p>      
</section>

{% endblock %}