/* 
Template Colors:
Black Olive - #33372F
Dark purple - #331832
Ivory - #F9FBEF
Nyanza - #D1E2CA
Opal - #B4CFC9
*/

body{
    background-color: #F9FBEF;
    margin:0%;
}

h1{
    color: #33372F;
}


ul {
    list-style-type: none;
    display: flex;
    background-color: #33372F;
    margin: 0px;
    justify-content: space-evenly;
    padding: 1px;
}

li {
    background-color: #B4CFC9;
    border-radius: 3px;
    padding: 5px 20px;   
}

a {
    color: #33372F;
    text-decoration: none;
    background-color: #B4CFC9;
    border-radius: 3px; 
}