/* 
Template Colors:
Black Olive - #33372F
Dark purple - #331832
Ivory - #F9FBEF
Nyanza - #D1E2CA
Opal - #B4CFC9
*/

body{
    background-color: #F9FBEF;
    margin:0%;
    font-family: 'Courier New', Courier, monospace; 
}

h1{
    color: #33372F;
}

/* These are the stylings for the JS created nav content may need to tag things more specificaly in the future */
ul {
    list-style-type: none;
    display: flex;
    background-color: #33372F;
    margin: 0px;
    justify-content: left;
    padding: 1px;
}

li {
    margin: 2px .5rem;
    padding: 5px 20px;
    background-color: #33372F;
    border-left: #ffff solid;
    border-right: #ffff solid;
    border-radius: 2px;
    border-width: 2px;       
}

a {
    color: #FFFF;
    text-decoration: none;
}