#body-container{
    background-color: #ffffff;
}

#main-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#typed-heading{
    font-size: 15ch;
    font-weight: 200;
    text-align: center;
    width: 70%;
    margin-bottom: 20px;
    color: #53830b;
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .1em;
    border-right: .15em solid #53830b;  
    animation: 
      typing 1.5s steps(20, end),
      blink-caret .45s step-end 8 forwards;
}

/* animations for the heading */
@keyframes typing {
    from { width: 0 }
    to { width: 70% }
}
        
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #53830b }
}

.content-container{
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #121212 solid;
}

.head-container {
    width: 98%;
    background-color: #121212;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 3px;
    margin: 0 auto;
}

h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    /* background-color: #121212; */
    color: #121212;
    border-radius: 5px;

    flex-basis: 20%;
    margin-left: 1%;
    margin-right: 2%;
}

p{
    line-height: 2em;
    flex-basis: 77%;
    text-indent: 4em;
    text-align: justify;
}

#main-section section.content-container:last-child {
    border-bottom: none;
}
