#main-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    padding-bottom: 3em;
}

.content-container{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    margin: .5em 3em 3em 3em;
    width: 80vw;
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.08), -4px -4px 8px 8px rgba(0, 0, 0, 0.08);
    text-align: center;
    padding: 1em;

    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
}

h3 {
    text-align: center;
    font-size: 2em;

    color: #121212;
    border-radius: 5px;

    margin: 4%;
}

.paragraph-container {
    flex-grow: 1;
    align-self: center;
    width: 80%;
    height: 65vh;
    display: flex;
    align-items: center;
    overflow: overlay;
}

p{
    font-size: larger;
    line-height: 2em;
    text-indent: 4em;
    text-align: justify;
    margin-left: 3%;
    margin-right: 3%;
    flex-grow: 1;
}

