#body-container{
    background-color: #ffffff;
}

#main-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-container{
    width: 60%;
    background-color: inherit;
    align-self: center;
    margin: auto;
}

h3 {
    text-align: center;
    background-color: #121212;
    color: #ffffff;
    border-radius: 5px;
    padding: .25em 3em;
    margin-bottom: .25em;
}

#welcome-svg{
    max-width: 100%;
}

#welcome-w {
    fill: darkolivegreen;
    animation: welcome-animation 3s ease backwards;
}

@keyframes welcome-animation {
    0% {
        fill: transparent;

    }
    100% {
        fill: darkolivegreen;
    }
}

#welcome-el {
    fill: darkolivegreen;
    animation: welcome-animation 2s .75s ease backwards;
}

@keyframes welcome-animation {
    0% {
        fill: transparent;

    }
    100% {
        fill: darkolivegreen;
    }
}

#welcome-come {
    fill: darkolivegreen;
    animation: welcome-animation 3s 1.25s ease backwards;
}

@keyframes welcome-animation {
    0% {
        fill: transparent;

    }
    100% {
        fill: darkolivegreen;
    }
}

#welcome-ex-line {
    fill: darkolivegreen;
    animation: welcome-animation 4s 2s ease backwards;
}

@keyframes welcome-animation {
    0% {
        fill: transparent;

    }
    100% {
        fill: darkolivegreen;
    }
}

#welcome-ex-point {
    fill: darkolivegreen;
    animation: welcome-animation 3s 3s ease backwards;
}

@keyframes welcome-animation {
    0% {
        fill: transparent;

    }
    100% {
        fill: darkolivegreen;
    }
}