
#form-container {
    background-color: rgba(255, 255, 255, .85);
    border-radius: 10px;
    padding: 2em;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 10vh;

    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.08), -4px -4px 8px 8px rgba(0, 0, 0, 0.08);
}

#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

#contact-form label {
    padding: 3px;
    font-weight: 600;
}

#contact-form input, #contact-form textarea{
    font-family: inherit;
    font-weight: 600;
    border-radius: 5px;
    border-style: solid;
    border-color: #121212;
    border-width: .5px;
    background-color: inherit;
    padding: 2px;
    max-width: 100%;
}


#id_name, #id_email {
    width: 50%;
}

#contact-form button {
    margin-top: 5px;
    color: white;
    font-family: inherit;
    width: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    border: none;

    background: linear-gradient(to bottom, #121212 50%, #53830b 50%);
    background-size: 100% 200%;
    background-position:  top;
    transition: all .25s ease-out;
}

#contact-form button:hover {
    background-position: bottom;
}

