#download-btn{
    background-color: black;
    color: white;
    border-radius: 10%;
    border-style: none;
    padding: 5px;
    font-family: inherit;
}

#download-btn:hover {
    background-color: #333333;
}

#download-link{
    text-decoration: none;
    color: inherit;
}
