#main-section {
    max-width: 70%;
    align-self: center;    
}

#page-header{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
#title-tag{
    padding: 8px;
}

#download-btn{
    background: linear-gradient(to left, #121212 50%, #53830b 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    color: #ffffff;
    border-radius: 20%;
    padding: 4px 8px 4px 8px;
    font-family: inherit;
    font-size: large;
    width: 15px; 
    height: 15px;
    display: inline-block;
    margin-left: 1em;
    
    transform: translateY(-5px);
    transition: all .35s ease-out;
}

#download-btn:hover {
    background-position: left bottom;
}

#download-link{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transform: translateX(-2.5px) translateY(-3px);
}

/* ------------------Content Section--------------------------- */

.resume-section {
    max-width: 80%;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    margin: auto;
}

p{
    margin-top: .2em;
    margin-bottom: .2em;
}

h3 {
    display: inline-block;
    background-color: #121212;
    color: #ffffff;
    border-radius: 5px;
    padding: .25em 3em;
}

/* ----Tech Content------- */
#tech-container {
    display: flex;
    flex-direction: row;
}

#tech-container > div:first-child {
    margin-left: 0px;
}

#tech-container > div {
    margin: 1em 2em;
}

#tech-container > div > p {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #ffffff;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 80px;
}

/* web tripple */
#web-tripple {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    grid-auto-rows: auto;
}

#web-tripple > :first-child {
    grid-column: 2/3;
    grid-row: 1;
    background-color: #ffffff;
}

#web-tripple > :nth-child(2) {
    grid-column: 1/2;
    grid-row: 2;
    background-color: #ffffff;
}
#web-tripple > :nth-child(3) {
    grid-column: 3/4;
    grid-row: 2;
    background-color: #ffffff;
    position: relative;
    transform: translateY(20px);
}

/* python double */
#python-double {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    grid-auto-rows: auto;
}

#python-double > :first-child {
    grid-column: 1;
    grid-row: 1;
}

#python-double > :nth-child(2) {
    grid-column: 2;
    grid-row: 2;
}

/* database double */
#database-double {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: -3px;
    grid-auto-rows: auto;
}

#database-double > :first-child {
    grid-column: 2;
    grid-row: 1;
}

#database-double > :nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

/* ----------------Work Experience Section------------------- */
.work-ex-date{
    display: inline-block;
}


