#main-section {
    max-width: 70%;
    align-self: center;    
}

#page-header{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
#title-tag{
    padding: 8px;
}

#download-btn{
    background: linear-gradient(to left, #121212 50%, #53830b 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    color: #ffffff;
    border-radius: 20%;
    padding: 4px 8px 4px 8px;
    font-family: inherit;
    font-size: large;
    width: 15px; 
    height: 15px;
    display: inline-block;
    margin-left: 1em;
    
    transform: translateY(-5px);
    transition: all .35s ease-out;
}

#download-btn:hover {
    background-position: left bottom;
}

#download-link{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transform: translateX(-2.5px) translateY(-3px);
}

/* ------------------Content Section--------------------------- */

.resume-section {
    max-width: 80%;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    margin: auto;
}

p{
    margin-top: .2em;
    margin-bottom: .2em;
}

h3 {
    display: inline-block;
    background-color: #121212;
    color: #ffffff;
    border-radius: 5px;
    padding: .25em 3em;
}

/* ----Tech Content------- */
#tech-container {
    display: flex;
    flex-direction: row;
}

#tech-container > div:first-child {
    margin-left: 0px;
}

#tech-container > div {
    margin: 1em 5em;
}

#tech-container > div > p {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #53830b;
    color: #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
}


/* ----------------Work Experience Section------------------- */
.work-ex-date{
    display: inline-block;
}


